.ds-divider {
  border: 0;
  background-color: var(--ds-border-color);
  margin: 0;
}

.ds-divider--horizontal {
  width: 100%;
  height: 1px;
  margin: var(--ds-spacing-4) 0;
}

.ds-divider--vertical {
  width: 1px;
  height: 100%;
  margin: 0 var(--ds-spacing-4);
  display: inline-block;
  vertical-align: middle;
}
